{% extends 'base.html' %}

{% block head %}
{% endblock head %}

{% block content %}
<h2>Application</h2>
<p>Please join our recruitment Discord server to set a time for your interview. Once in the server, type '@Recruiters' to notify the recruiters that you are available for an interview. An interviewer will help you out if one is available. If no one responds, try again in a couple of hours. Please make sure you set a push-to-talk button, and that you said your nickname to your character's name. You can set your nickname by typing '/nick', followed by the character name.</p>
<a class="btn btn btn-dark" target="_blank" href="{{ discord_url }}" role="button" aria-pressed="true">Join Discord</a>
<br><br><br>
<div class="card bg-light" style="max-width: 32rem;">
	<div class="card-header"><h3><img src="{{ current_user.application.corporation.logo }}" alt="{{ current_user.application.corporation.name }} Logo" width=50 height=50> {{ current_user.application.corporation.name }} application</h3></div>
	<div class="card-body">
		<table class="table borderless">
		    <tr>
		      	<th width="30%" scope="row">Character</th>
		      	<td width="70%">{{ current_user.name }}</td>
		    </tr>
		    <tr>
		      	<th scope="row">Current Corp</th>
		      	<td>{{ current_user.get_corp().name }}</td>
		    </tr>
		    <tr>
		      	<th scope="row">Status</th>
		      	<td>
		      		{% if current_user.application.ready_accepted %}
		      			<p>Ready to be accepted</p>
		      		{% else %}
						<p>Being processed</p>
		      		{% endif %}
				</td>
		    </tr>
		</table>
		<a href="#" class="btn btn-outline-dark btn-sm" role="button" aria-pressed="true">Account information</a>
	</div>
			<div class="card-footer text-center">
				<form method="POST">
					<td><button type="submit" value="RemoveApplication" name="btn" class="btn btn-outline-danger btn-sm" aria-pressed="true">Remove application</button></td>
				</form>
		  	</div>
		</div>
{% endblock content %}