<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>GETIN Webportal</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  {% block head %}{% endblock head %}
  <script>
      // SIDEBAR
    $(document).ready(function(){
      $('.button-collapse').sideNav({
          menuWidth: 300, // Default is 300
          edge: 'left', // Choose the horizontal origin
          closeOnClick: false, // Closes side-nav on <a> clicks, useful for Angular/Meteor
          draggable: true // Choose whether you can drag to open on touch screens
        }
      );
    });
  </script>
</head>
<body class="grey lighten-5">

<header>
  <nav>
    <div class="nav-wrapper grey darken-3">
      <div class="container">
          {% if not current_user.is_anonymous %}
            <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons" style="font-size: 2rem; padding-right:20px">menu</i></a>
          {% endif %}
          <a class="brand-logo" href="/">GETIN</a>
          <ul class="side-nav" id="slide-out"></ul>
          <ul class="right hide-on-med-and-down">
          {% if not current_user.is_anonymous %}
            <li><a href="{{ url_for('logout') }}">Logout <strong>{{ current_user.name }}</strong></a></li>
          {% elif not request.endpoint == 'login' %}
            <li><a href={{login_url}}>Log in</a></li>
          {% endif %}
          </ul>
        </div>
    </div>
  </nav>
</header>

<main>
  <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          {% if message %}
            {% if category == 'success' %}
              <div class="card-panel green lighten-1 flashed disappear">
            {% else %}
              <div class="card-panel red lighten-1 flashed">
            {% endif %}
              <p>{{ message }}</p>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock content %}
  </div>
</main>

</body>
</html>