<!DOCTYPE html>
<html lang="en">
<head>
  <title>GETIN Webportal</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
<header>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">GETIN</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        {% if not current_user.is_anonymous %}
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">Tools<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">GETIN - Internal</li>
            <li><a href="#"></span>Account Management</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Admin</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Corp Management </a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">GETIN - External</li>
            <li><a href="https://fits.wormbro.academy/" target="_blank"> Fits</a></li>
            <li><a href="https://auth.wormbro.academy/hr/" target="_blank"> Human Resources</a></li>
            <li><a href="https://srp.wormbro.academy" target="_blank"> SRP</a></li>
            <li><a href="https://www.reddit.com/r/GETIN_Eve/" target="_blank"> Subreddit (/r/GETIN_Eve/)</a></li>
            <li><a href="https://tripwire.wormbro.academy/?system=" target="_blank"> Tripwire</a></li>
            <li><a href="https://wiki.wormbro.academy/" target="_blank"> Wiki</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Public</li>
            <li><a href="http://evemaps.dotlan.net/" target="_blank">Dotlan</a></li>
            <li><a href="https://dscan.me/" target="_blank">Dscan.me</a></li>
            <li><a href="https://evemarketer.com/" target="_blank">EVEMarketer</a></li>
            <li><a href="https://docs.google.com/spreadsheets/d/17cNu8hxqJKqkkPnhDlIuJY-IT6ps7kTNCd3BEz0Bvqs/pubhtml#" target="_blank">Rykki's Guide</a></li>
            <li><a href="https://www.reddit.com/r/Wormbro/" target="_blank">Subreddit (/r/Wormbro)</a></li>
          </ul>
        </li>
        <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"></span> Log out <strong>{{ current_user.name }}</strong></a></li>
        {% elif not request.endpoint == 'login' %}
          <li><a href="{{ login_url }}"><span class="glyphicon glyphicon-log-in"></span> Log in</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
    
  <div class="container">
    {% block content %}{% endblock content %}
  </div>
</header>
</body>
</html>
