<!DOCTYPE html>
<html lang="en">
<head>
  <title>GETIN Webportal</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <link href="{{ url_for('static', filename='open-iconic/font/css/open-iconic.css') }}" rel="stylesheet">

  <script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip(); 
    });
  </script>
</head>
<body>
<header>
  <!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container">
    <!-- Brand -->
    <a class="navbar-brand" href="/">GETIN</a>

    <!-- Links -->
    <ul class="navbar-nav">
      <!-- Dropdown -->
      {% if not current_user.is_anonymous %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Tools</a>
          <div class="dropdown-menu">
            <h6 class="dropdown-header">GETIN - Internal</a>
            <a class="dropdown-item" href="#">Account Management</a>
            <a class="dropdown-item" href="{{ url_for('admin.index') }}"><img src="/static/open-iconic/svg/person.svg"> Admin</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">GETIN - External</a>
            <a class="dropdown-item" href="https://fits.wormbro.academy/" target="_blank"> Fits</a>
            <a class="dropdown-item" href="https://auth.wormbro.academy/hr/" target="_blank"> Human Resources</a>
            <a class="dropdown-item" href="https://srp.wormbro.academy" target="_blank"> SRP</a>
            <a class="dropdown-item" href="https://www.reddit.com/r/GETIN_Eve/" target="_blank"> Subreddit (/r/GETIN_Eve/)</a>
            <a class="dropdown-item" href="https://tripwire.wormbro.academy/?system=" target="_blank"> Tripwire</a>
            <a class="dropdown-item" href="https://wiki.wormbro.academy/" target="_blank"> Wiki</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Public</a>
            <a class="dropdown-item" href="http://evemaps.dotlan.net/" target="_blank">Dotlan</a>
            <a class="dropdown-item" href="https://dscan.me/" target="_blank">Dscan.me</a>
            <a class="dropdown-item" href="https://evemarketer.com/" target="_blank">EVEMarketer</a>
            <a class="dropdown-item" href="https://docs.google.com/spreadsheets/d/17cNu8hxqJKqkkPnhDlIuJY-IT6ps7kTNCd3BEz0Bvqs/pubhtml#" target="_blank">Rykki's Guide</a>
            <a class="dropdown-item" href="https://www.reddit.com/r/Wormbro/" target="_blank">Subreddit (/r/Wormbro)</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">Log out <strong>{{ current_user.name }}</strong>  <span class="oi" data-glyph="account-logout"></span></a>
        </li>
       {% elif not request.endpoint == 'login' %}
      <li class="nav-item">
        <a class="nav-link" href="{{ login_url }}"><span class="oi" data-glyph="account-login"></span>  Log in</a>
      </li>
        {% endif %}

    </ul>
  </div>
</nav>
</header>
<br>
  <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <!-- <strong>Title</strong> --> {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock content %}
  </div>
</body>
</html>
