{% extends 'base.html' %}

{% block content %}
<div class="text-center">
<img src="{{ alliance.logo }}">
</div>
<br><br>
<div class="jumbotron">
<div class="text-center">
  	<p>Welcome to the auth portal for {{ alliance.name }}{% if current_user.is_authenticated %}, <strong>{{current_user.name}}</strong>{% endif %}.{% if current_user.is_authenticated %}<br>Press the tools button in the top-right to access all the different services you have access to.{% endif %}</p>
</div>
  <hr class="my-4">
  	<div class="text-center">
  	{% if not current_user.is_authenticated %}
		<a href="{{ url_for('login') }}" class="btn btn-outline-dark btn-lg" role="button" aria-disabled="true">Login</a>
	{% elif current_user.application %}
		<a href="{{ url_for('hr.view_application', application_id=current_user.application.id) }}" class="btn btn-outline-dark btn-lg" role="button" aria-disabled="true">View application to {{ current_user.application.corporation.name }}</a>
	{% else %}
		<a href="{{ url_for('hr.index') }}" class="btn btn-outline-dark btn-lg" role="button" aria-disabled="true">Apply to corp in {{ alliance.name }}</a>
	{% endif %}
	</div>
</div>
{% endblock content %}