{% extends 'base.html' %}

{% block head %}
<script>
  $(document).ready(function() {
    $('#import').on('click', function() {
      $(this).addClass('disabled');
      $(this).text('Syncing ...');
      window.location.href = "{{ url_for('admin.sync') }}";
    });
  });
</script>
{% endblock head %}

{% block content %}
<h2>Admin</h2>
<h3>Roles</h3>
<div class="table-responsive">
<table class="table" style="width: 1%;">
  <thead>
    <tr>
      	<th></th>
		{% for permission in permissions %}
			<th>{{ permission.name }}</th>
		{% endfor %}
		<th>
    </tr>
  </thead>
  <tbody>
  	{% for roleform in role_forms %}
  	<form method="POST">
  		<tr>
  			<input type="hidden" name="roleName" value="{{ roleform.name }}">
  			<td><strong>{{ roleform.name }}</strong></td>
  			{% for permission in roleform.permissions %}
  				{{ permission.hidden }}
  				<td>{{ permission.has_permission(disabled = permissions[loop.index - 1].name == "admin") }}</td>
  			{% endfor %}
  			<td><button class="btn btn-success btn-sm" type="submit" name="btn" value="EditRole">Save</button></td>
  			<td><button class="btn btn-danger btn-sm" type="submit" name="btn" value="RemoveRole">Remove</button></td>
  		</tr>
  	</form>
  	{% endfor %}
  </tbody>
</table>
</div>
<form method="POST">
  <div class="form-row">
  	<div class="col-xs-2">
	{{ add_role_form.csrf_token }}
	{{ add_role_form.role_name(type="text", class="form-control", placeholder="Role Name") }}
	{% if add_role_form.role_name.errors %}
		    {% for error in add_role_form.role_name.errors %}
		      {{ error }}
		    {% endfor %}
	{% endif %}
	</div>
	 <button class="btn btn-dark" name="btn" value="AddRole" type="submit">Add role</button>
	</div>
</form>
<br>
<h3>Corporations</h3>
<br><br>
<div class="table-responsive">
<table class="table borderless">
  <thead>
    <tr>
		{% for corporation in corporations %}
		<th class="text-center"><strong>{{ corporation.name }}</strong></th>
		{% endfor %}
    </tr>
  </thead>
  <tbody>
  	<tr>
  	    {% for corporation in corporations %}
  		<td class="text-center"><img src="{{ corporation.logo }}" alt="{{ corporation.name }}"></td>
  		{% endfor %}
  	</tr>
  	<tr>
  	    {% for corporation in corporations %}
  		<td class="text-center">{{ corporation.inhouse_description }}</td>
  		{% endfor %}
  	</tr>
  	 <tr>
  	 	{% for corporation in corporations %}
  		<td class="text-center"><strong>{% if corporation.recruitment_open %}Open{% else %}Closed{% endif %}</strong> recruitment</td>
  		{% endfor %}
  	</tr>
  	<tr>
  	 	{% for corporation in corporations %}
  		<td class="text-center"><strong>{% if not corporation.refresh_token %}No{% endif %}</strong> ESI authentication provided</td>
  		{% endfor %}
  	</tr>
  	 <tr>
  	 	{% for corporation in corporations %}
	  	 	{% if corporation.id != current_user.admin_corp_id %}
	  	 	<td class="text-center">
	  	 	<form method="POST">
	  	 	  	<input type="hidden" name="corpId" value="{{ corporation.id }}">
	  			<button type="submit" value="MakeCurrentCorp" name="btn" class="btn btn-dark">Make current corp</button>
	  		</form>
	  		</td>
	  		{% else %}
	  		<td class="text-center"><button type="button" class="btn btn-dark disabled">Current corp</button></td>
	  		{% endif %}
  		{% endfor %}
  	</tr>
  </tbody>
</table>
</div>
<a class="btn btn-outline-danger" id="import" data-toggle="tooltip" title="This will take a while. Use sparingly!" href="#" role="button" aria-pressed="true">Synchronise</a>

<br><br><br>
{% endblock content %}