{% extends 'base.html' %}

{% block head %}
<style>
.standing-terrible {
  background-color: #9A0000;
}

.standing-bad {
  background-color: #C44500;
}

.standing-neutral {
  background-color: #868686;
}

.standing-good {
  background-color: #1E64BC;
}

.standing-excellent {
  background-color: #182972;
}
</style>
{% endblock head %}

{% block content %}
	<h2>Audit</h2>
	<br>
	<div class="container">
		<div class="row" style="background-color: #e3e3e3; padding: 10px; border-radius: 15px 15px 15px 15px;">
			<div class="col-auto mr-auto">
				<img style="border-radius: 15px 15px 15px 15px;" src="{{ character_portrait['px128x128'] }}" alt="{{ character['name'] }} portrait"><br>
				<div class="text-center" style="margin-top:5px;">
					<a href="https://zkillboard.com/corporation/{{ character['corporation_id'] }}/" target="_blank">
						<img style="border-radius: 15px 15px 15px 15px;" src="{{ corporation_logo['px128x128'] }}" alt="{{ corporation['name'] }} logo" width=62 height=62
						data-toggle="tooltip" data-placement="top" title="{{ corporation['name'] }} [{{ corporation['ticker'] }}]">
					</a>
					<a href="https://zkillboard.com/alliance/{{ character['alliance_id'] }}/" target="_blank">
						{% if alliance %}
							<img href=#" style="border-radius: 15px 15px 15px 15px;" src="{{ alliance_logo['px128x128'] }}" alt="{{ alliance['name'] }} logo" width=62 height=62
							data-toggle="tooltip" data-placement="top" title="{{ alliance['name'] }} [{{ alliance['ticker'] }}]">
						{% endif %}
					</a>
				</div>
			</div>
			<div class='col'>
				<h3>{{ character['name'] }}</h3>
				{% if wallet_isk is not none %}
					<strong>ISK:</strong> {{ '{0:,.2f}'.format(wallet_isk) }}<br>
				{% endif %}
				{% if character_skills is not none %}
					<strong>SP:</strong> {{ '{0:,}'.format(character_skills['total_sp']) }} {% if 'unallocated_sp' in character_skills %} (+ {{ '{0:,}'.format(character_skills['unallocated_sp']) }} unallocated){% endif %}<br>
				{% endif %}
				<strong>Security:</strong> {{ '{0:,.2f}'.format(character['security_status']) }}<br>
				<strong>Born:</strong> {{ datetime_to_string(string_to_datetime(character['birthday'], '%Y-%m-%dT%H:%M:%SZ'), '%Y-%m-%d') }}<br>
				<strong>Age: </strong> {{ age_from_now(string_to_datetime(character['birthday'], '%Y-%m-%dT%H:%M:%SZ')) }}<br>
			</div>
		</div><br>
		<nav class="navbar-dark">
			<div class="nav nav-tabs" id="nav-tab" role="tablist">
				<a class="nav-item nav-link active" id="nav-assets-tab" data-toggle="tab" href="#nav-assets" role="tab" aria-controls="nav-assets" aria-selected="false">Assets</a>
				<a class="nav-item nav-link" id="nav-bookmarks-tab" data-toggle="tab" href="#nav-bookmarks" role="tab" aria-controls="nav-bookmarks" aria-selected="false">Bookmarks</a>
				<a class="nav-item nav-link" id="nav-character-tab" data-toggle="tab" href="#nav-character" role="tab" aria-controls="nav-character" aria-selected="false">Character</a>
				<a class="nav-item nav-link" id="nav-clones-tab" data-toggle="tab" href="#nav-clones" role="tab" aria-controls="nav-clones" aria-selected="false">Clones</a>
				<a class="nav-item nav-link" id="nav-contacts-tab" data-toggle="tab" href="#nav-contacts" role="tab" aria-controls="nav-contacts" aria-selected="false">Contacts</a>
				<a class="nav-item nav-link" id="nav-contracts-tab" data-toggle="tab" href="#nav-contracts" role="tab" aria-controls="nav-contracts" aria-selected="false">Contracts</a>
				<a class="nav-item nav-link" id="nav-corporation-tab" data-toggle="tab" href="#nav-corporation" role="tab" aria-controls="nav-corporation" aria-selected="false">Corporation</a>
				<a class="nav-item nav-link" id="nav-faction-warfare-tab" data-toggle="tab" href="#nav-faction-warfare" role="tab" aria-controls="nav-faction-warfare" aria-selected="false">Faction Warfare</a>
				<a class="nav-item nav-link" id="nav-fittings-tab" data-toggle="tab" href="#nav-fittings" role="tab" aria-controls="nav-fittings" aria-selected="false">Fittings</a>
				<a class="nav-item nav-link" id="nav-industry-tab" data-toggle="tab" href="#nav-industry" role="tab" aria-controls="nav-industry" aria-selected="false">Industry</a>
				<a class="nav-item nav-link" id="nav-location-tab" data-toggle="tab" href="#nav-location" role="tab" aria-controls="nav-location" aria-selected="false">Location</a>
				<a class="nav-item nav-link" id="nav-loyalty-tab" data-toggle="tab" href="#nav-loyalty" role="tab" aria-controls="nav-loyalty" aria-selected="false">LP</a>
				<a class="nav-item nav-link" id="nav-mail-tab" data-toggle="tab" href="#nav-mail" role="tab" aria-controls="nav-mail" aria-selected="false">Mail</a>
				<a class="nav-item nav-link" id="nav-market-tab" data-toggle="tab" href="#nav-market" role="tab" aria-controls="nav-market" aria-selected="false">Market</a>
				<a class="nav-item nav-link" id="nav-opportunities-tab" data-toggle="tab" href="#nav-opportunities" role="tab" aria-controls="nav-opportunities" aria-selected="false">Opportunities</a>
				<a class="nav-item nav-link" id="nav-planetary-interaction-tab" data-toggle="tab" href="#nav-planetary-interaction" role="tab" aria-controls="nav-planetary-interaction" aria-selected="false">PI</a>
				<a class="nav-item nav-link" id="nav-skills-tab" data-toggle="tab" href="#nav-skills" role="tab" aria-controls="nav-skills" aria-selected="false">Skills</a>
				<a class="nav-item nav-link" id="nav-wallet-tab" data-toggle="tab" href="#nav-wallet" role="tab" aria-controls="nav-wallet" aria-selected="false">Wallet</a>
			</div>
		</nav>
		<div class="tab-content" id="nav-tabContent">
			<div class="tab-pane fade show active" id="nav-assets" role="tabpanel" aria-labelledby="nav-assets-tab">
			Assets tab
			</div>
			<div class="tab-pane fade" id="nav-bookmarks" role="tabpanel" aria-labelledby="av-bookmarks-tab">
			Bookmarks tab
			</div>
			<div class="tab-pane fade" id="nav-character" role="tabpanel" aria-labelledby="nav-character-tab">
			Character tab
			</div>
			<div class="tab-pane fade" id="nav-clones" role="tabpanel" aria-labelledby="nav-clones-tab">
			Clones tab
			</div>
			<div class="tab-pane fade" id="nav-contacts" role="tabpanel" aria-labelledby="nav-contacts-tab">
				<br>
				{% if characterContacts is not none %}
				    <div class="card-deck">
						{% for contact in character_contacts %}
							{% if contact['standing'] > 5 %}
								<div class="card mb-4 text-white standing-excellent" style="max-width: 32em; border-radius: 15px 15px 15px 15px;">
							{% elif contact['standing'] > 0 %}
								<div class="card mb-4 text-white standing-good" style="max-width: 32em; border-radius: 15px 15px 15px 15px;">
							{% elif contact['standing'] == 0 %}
								<div class="card mb-4 text-white standing-neutral" style="max-width: 32em; border-radius: 15px 15px 15px 15px;">
							{% elif contact['standing'] > -5 %}
								<div class="card mb-4 text-white standing-bad" style="max-width: 32em; border-radius: 15px 15px 15px 15px;">
							{% else %}
								<div class="card mb-4 text-white standing-terrible" style="max-width: 32em; border-radius: 15px 15px 15px 15px;">
							{% endif %}
								<div class="card-header"><h3><img class="rounded-circle" src="{{ contact['contact_image'] }}" width=50 height=50> {{ contact['contact_name'] }} ({{ contact['standing'] }})</h3>{% if 'label_name' in contact %}Label: <i>{{ contact['label_name'] }}</i>{% endif %}</div>
								<div class="card-body">
									{% if contact['contact_type'] == 'character' %}
										<table width="100%">
											<tr>
												<th width="30%">Corporation</th>
												<td><a target="_blank" href="https://zkillboard.com/corporation/{{ contact['character']['corporation_id'] }}/"><img class="rounded-circle" src="{{ contact['character']['corporation_logo'] }}" width=25 height=25></a> {{ contact['character']['corporation_name'] }}</td>
											</tr>
											{% if 'alliance_id' in contact['character'] %}
												<tr>
													<th>Alliance</th>
													<td><a target="_blank" href="https://zkillboard.com/alliance/{{ contact['character']['alliance_id'] }}/"><img class="rounded-circle" src="{{ contact['character']['alliance_logo'] }}" width=25 height=25></a> {{ contact['character']['alliance_name'] }}</td>
												</tr>
											{% endif %}
											<tr>
												<th>Age</th>
												<td>{{ age_from_now(string_to_datetime(contact['character']['birthday'], '%Y-%m-%dT%H:%M:%SZ')) }}</td>
											</tr>
										</table><br>
										<div class="collapse" id="{{ contact['contact_id'] }}_corpHistory">
											{% if contact['character']['corporation_history'] %}
												{% for corp in contact['character']['corporation_history'] %}
													<table class="table borderless">
														<tr>
															<td width="10%"><a target="_blank" href="https://zkillboard.com/corporation/{{ corp['corporation_id'] }}/"><img class="rounded-circle" src="{{ corp['logo'] }}" width=25 height=25></a></td>
															<td width="45%">{{ corp['name'] }}{% if 'is_deleted' in corp and corp['is_deleted'] == true %} [CLOSED]{% endif %}</th>
															<td width="45%">{{ datetime_to_string(string_to_datetime(corp['start_date'], '%Y-%m-%dT%H:%M:%SZ'), '%Y-%m-%d') }} - {% if 'end_date' in corp %}{{ datetime_to_string(string_to_datetime(corp['end_date'], '%Y-%m-%dT%H:%M:%SZ'), '%Y-%m-%d') }}{% else %}now{% endif %}</td>
														</tr>
													</table>
												{% endfor %}
											{% else %}
												<div class="text-center">No corp history</div><br>
											{% endif %}
										</div>
										<div class="text-center">
											<button class="btn btn-sm btn-outline-light" type="button" data-toggle="collapse" data-target="#{{ contact['contact_id'] }}_corpHistory" aria-expanded="false" aria-controls="{{ contact['contact_id'] }}_corpHistory">
												Show corp history
											</button>
										</div>
									{% elif contact['contact_type'] == 'corporation' %}
										<table width="100%">
											{% if 'alliance_id' in contact['corporation'] %}
											<tr>
												<th width="30%">Alliance</th>
												<td><a target="_blank" href="https://zkillboard.com/alliance/{{ contact['corporation']['alliance_id'] }}/"><img class="rounded-circle" src="{{ contact['corporation']['alliance_logo'] }}" width=25 height=25></a> {{ contact['corporation']['alliance_name'] }}</td>
											</tr>
											{% endif %}
											<tr>
												<th>Age</th>
												<td>{{ age_from_now(string_to_datetime(contact['corporation']['date_founded'], '%Y-%m-%dT%H:%M:%SZ')) }}</td>
											</tr>
										</table><br>
										<div class="collapse" id="{{ contact['contact_id'] }}_allianceHistory">
											{% if contact['corporation']['alliance_history'] %}
												{% for alliance in contact['corporation']['alliance_history'] %}
													<table class="table borderless">
														<tr>
															<td width="10%">
															{% if 'alliance_id' in alliance %}
																<a target="_blank" href="https://zkillboard.com/alliance/{{ alliance['alliance_id'] }}/"><img class="rounded-circle" src="{{ alliance['logo'] }}" width=25 height=25></a>
															{% endif %}
															</td>
															<td width="45%">{{ alliance['name'] }}{% if 'is_deleted' in alliance and alliance['is_deleted'] == true %} [CLOSED]{% endif %}</th>
															<td width="45%">{{ datetime_to_string(string_to_datetime(alliance['start_date'], '%Y-%m-%dT%H:%M:%SZ'), '%Y-%m-%d') }} - {% if 'end_date' in alliance %}{{ datetime_to_string(string_to_datetime(alliance['end_date'], '%Y-%m-%dT%H:%M:%SZ'), '%Y-%m-%d') }}{% else %}now{% endif %}</td>
														</tr>
													</table>
												{% endfor %}
											{% else %}
												<div class="text-center">No alliance history</div><br>
											{% endif %}
										</div>
											<div class="text-center">
												<button class="btn btn-sm btn-outline-light" type="button" data-toggle="collapse" data-target="#{{ contact['contact_id'] }}_allianceHistory" aria-expanded="false" aria-controls="{{ contact['contact_id'] }}_allianceHistory">
													Show alliance history
												</button>
											</div>
									{% elif contact['contact_type'] == 'alliance' %}
										<table width="100%">
											<tr>
												<th width="30%">Executor</th>
											{% if 'executor_corporation_id' in contact['alliance'] and contact['alliance']['members'] %}
												<td><a target="_blank" href="https://zkillboard.com/corporation/{{ contact['alliance']['executor_corporation_id'] }}/"><img class="rounded-circle" src="{{ contact['alliance']['executor_corporation_logo'] }}" width=25 height=25></a> {{ contact['alliance']['executor_corporation_name'] }}</td>
											{% else %}
												<td>Alliance closed</td>
											{% endif %}
											</tr>
											<tr>
												<th>Age</th>
												<td>{{ age_from_now(string_to_datetime(contact['alliance']['date_founded'], '%Y-%m-%dT%H:%M:%SZ')) }}</td>
											</tr>
										</table><br>
										<div class="collapse" id="{{ contact['contact_id'] }}_corpMembers">
											{% if contact['alliance']['members'] %}
												{% for member in contact['alliance']['members'] %}
													<table class="table borderless">
														<tr>
															<td width="10%">
															<a target="_blank" href="https://zkillboard.com/corporation/{{ member['corporation_id'] }}/"><img class="rounded-circle" src="{{ member['corporation_logo'] }}" width=25 height=25></a>
															</td>
															<td width="45%">{{ member['name'] }}{% if 'is_deleted' in member and member['is_deleted'] == true %} [CLOSED]{% endif %}</th>
															<td width="45%">{% if member['corporation_id'] == contact['alliance']['executor_corporation_id'] %}Executor corp{% endif %}</th>
														</tr>
													</table>
												{% endfor %}
											{% else %}
												<div class="text-center">No corporation history</div>
											{% endif %}
										</div>
										{% if contact['alliance']['members'] %}
											<div class="text-center">
												<button class="btn btn-sm btn-outline-light" type="button" data-toggle="collapse" data-target="#{{ contact['contact_id'] }}_corpMembers" aria-expanded="false" aria-controls="{{ contact['contact_id'] }}_corpMembers">
													Show members
												</button>
											</div>
										{% endif %}
									{% else %}
										{{ contact['contact_type'] }} not implemented
									{% endif %}
								</div>
								{% if contact['contact_type'] != 'faction' %}
									<div class="card-footer text-center"><a target="_blank" href="https://zkillboard.com/{{ contact['contact_type'] }}/{{ contact['contact_id'] }}/" class="btn btn-outline-light" role="button">View zkill</a></div>
								{% endif %}
							</div>
							{% if ((loop.index -1) % 2) == 1 %}
						        <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>
						        <div class="w-100 d-none d-md-block d-lg-none"><!-- wrap every 3 on md--></div>
								<div class="w-100 d-none d-lg-block d-xl-none"><!-- wrap every 4 on lg--></div>
								<div class="w-100 d-none d-xl-block"><!-- wrap every 5 on xl--></div>
							{% endif %}
						{% endfor %}
				    </div>
				{% else %}
					<h3 class="text-center">You don't have the necessary scopes for this tab.</h3>
			    {% endif %}
			</div>
			<div class="tab-pane fade" id="nav-contracts" role="tabpanel" aria-labelledby="nav-contracts-tab">
			Contracts tab
			</div>
			<div class="tab-pane fade" id="nav-corporation" role="tabpanel" aria-labelledby="nav-corporation-tab">
			Corporation tab
			</div>
			<div class="tab-pane fade" id="nav-faction-warfare" role="tabpanel" aria-labelledby="nav-faction-warfare-tab">
			Faction warfare tab
			</div>
			<div class="tab-pane fade" id="nav-fittings" role="tabpanel" aria-labelledby="nav-fittings-tab">
			Fittings tab
			</div>
			<div class="tab-pane fade" id="nav-industry" role="tabpanel" aria-labelledby="nav-industry-tab">
			Industry tab
			</div>
			<div class="tab-pane fade" id="nav-location" role="tabpanel" aria-labelledby="nav-location-tab">
			Location tab
			</div>
			<div class="tab-pane fade" id="nav-loyalty" role="tabpanel" aria-labelledby="nav-loyalty-tab">
			Loyalty tab
			</div>
			<div class="tab-pane fade" id="nav-mail" role="tabpanel" aria-labelledby="nav-mail-tab">
			Mail tab
			</div>
			<div class="tab-pane fade" id="nav-market" role="tabpanel" aria-labelledby="nav-market-tab">
			Market tab
			</div>
			<div class="tab-pane fade" id="nav-opportunities" role="tabpanel" aria-labelledby="nav-opportunities-tab">
			Opportunities tab
			</div>
			<div class="tab-pane fade" id="nav-planetary-interaction" role="tabpanel" aria-labelledby="nav-planetary-interaction-tab">
			Planetary interaction tab
			</div>
			<div class="tab-pane fade" id="nav-skills" role="tabpanel" aria-labelledby="nav-skills-tab">
			Skills tab
			</div>
			<div class="tab-pane fade" id="nav-wallet" role="tabpanel" aria-labelledby="nav-wallet-tab">
			Wallet tab
			</div>
		</div>
	</div>
{% endblock content %}